{{css '/bower_components/editor.md/css/editormd.min.css'}}
{{js '/bower_components/editor.md/editormd.min.js'}}
{{js '/lib/multiselect/multiselect.min.js'}}
{{js '/dashboard/js/blog_edite.js'}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="/dashboard/blog/{{blog._id}}" id="blogEditeForm">
              <div class="form-group">
                <label for="name">标题</label>
                <input type="text" class="form-control" name="title" value="{{blog.title}}">
              </div>
              <div class="form-group">
                <label for="slug">slug</label>
                <input type="text" class="form-control" name="slug" value="{{blog.slug}}" placeholder="只允许字母、数字和'-'">
              </div>
              <div class="form-group">
                <label for="category">分类</label>
                <select id="multiselect_cur" class="form-control" style="display: none;">
                  {{#each blog.categories}}
                  <option value="{{_id}}">{{name}}</option>
                  {{/each}}
                </select>
                <button type="button" class="btn btn-info btn-xs pull-right" id="btnAddCategory"><i class="fa fa-plus"></i> 新建分类</button>
                <div class="row">
                  <div class="col-xs-5">
                      <select name="totalCategories" id="multiselect" class="form-control" size="8" multiple="multiple">
                          <!-- <option value="1">Item 1</option> -->
                      </select>
                  </div>

                  <div class="col-xs-2">
                      <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="fa fa-forward"></i></button>
                      <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right"></i></button>
                      <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left"></i></button>
                      <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="fa fa-backward"></i></button>
                  </div>

                  <div class="col-xs-5">
                      <select name="newCategories" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                      </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="slug">简介</label>
                <textarea class="form-control" rows="3" name="brief">{{blog.brief}}</textarea>
              </div>
              <div class="form-group">
                <label for="slug">正文</label>
              </div>
              <div class="form-group" id="blogContentEdite">
                <textarea style="display: none;"  name="content">{{blog.content}}</textarea>
              </div>
              <div class="form-group">
                <label for="state">浏览量</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" name="views" value="{{blog.views}}">
              </div>
              <div class="form-group">
                <label for="state">发布状态</label>&nbsp;&nbsp;
                  <input type="radio" name="state" autocomplete="off" value="draft" {{#ifeq blog.state 'draft'}} checked {{/ifeq}}> 草稿 &nbsp;&nbsp;
                  <input type="radio" name="state" autocomplete="off" value="publish" {{#ifeq blog.state 'publish'}} checked {{/ifeq}}> 发布
              </div>
              <button type="submit" class="btn btn-info pull-right">保存</button>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modalAddCategory" tabindex="-1" role="dialog" aria-labelledby="modalAddCategoryLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalAddCategoryLabel">新建分类</h4>
          </div>
          <div class="modal-body">
            <form id="formAddCategory" action="/dashboard/category/add">
              <div class="form-group">
                <label for="name" class="control-label">分类名:</label>
                <input type="text" class="form-control" name="name">
              </div>
              <div class="form-group">
                <label for="slug" class="control-label">slug:</label>
                <input type="text" class="form-control" name="slug" placeholder="只允许字母、数字和'-'">
              </div>
              <br>
            </form>
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="btnAddCategoryForm">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>