<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a href="?" class="btn btn-block btn-info">所有归档</a>
            <div class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
                {{#each achiveNavs}}
                <a href="?year={{year}}&month={{month}}" class="btn btn-default {{#ifeq ../filter.year year}}{{#ifeq ../filter.month month}}active{{/ifeq}}{{/ifeq}}">{{year}}年{{month}}月</a>
                {{/each}}
            </div>
        </div>
        <div class="col-sm-10">
            <ol>
                {{#each blogs}}
                <li>
                    <a href="/blog/{{slug}}">{{title}}</a>
                     &nbsp;&nbsp;·&nbsp;&nbsp;{{create_at_format}}&nbsp;&nbsp;
                    {{#each categories}}
                    <a href="/blog/?category={{slug}}" class="btn btn-default btn-xs">{{name}}</a>
                    {{/each}}
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>