{{css '/lib/highlight/solarized-light.css'}}
{{css '/css/blog.css'}}
{{js '/lib/highlight/highlight.pack.js'}}
{{js '/js/blog.js'}}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{#if blogs}}
                {{#each blogs}}
            <div class="well blogArea blogwell">
                <header>
                    <h1>{{title}}</h1>
                    <p style="font-size: 12px;">
                        <strong>admin</strong>&nbsp;&nbsp;·&nbsp;&nbsp;发布于&nbsp;<strong>{{create_at_ago}}</strong>&nbsp;&nbsp;·&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;<strong>{{views}}</strong>&nbsp;&nbsp;·&nbsp;&nbsp;
                        {{#each categories}}
                        <a href="/blog/?category={{slug}}" class="btn btn-xs btn-danger">{{name}}</a>
                        {{/each}}
                    </p>
                </header>
                <hr>
                <div>{{{brief}}}</div>
                <div class="clearfix">
                    <a class="btn btn-info btn-xs pull-right" href="/blog/{{slug}}" style="margin-left: 10px;">阅读全文</a>
                 </div>
            </div>
                {{/each}}
            {{else}}
            <p>还没有文章哦~</p>
            {{/if}}
        </div>
        <div class="col-sm-3">
            <a href="/blog/archive" class="btn btn-block btn-info">文章归档</a>
            <div class="list-group" style="text-align: center;" id="categoryList">
                <a href="/blog" class="list-group-item active">所有分类</a>
                <!-- <a href="#" class="list-group-item">xx<span class="badge">11</span></a> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" style="text-align: center;">
            {{>pagination}}
        </div>
    </div>
</div>