{{js '/js/blog.js'}}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{#if blogs}}
                {{#each blogs}}
            <div class="well blogArea" data-id="{{_id}}">
                <h3>{{title}}</h3>
                <p style="font-size: 12px;">
                    <strong>admin</strong>&nbsp;&nbsp;·&nbsp;&nbsp;发布于&nbsp;<strong>{{create_at_ago}}</strong>&nbsp;&nbsp;·&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;<strong>{{views}}</strong>&nbsp;&nbsp;·&nbsp;&nbsp;
                    {{#each categories}}
                    <a href="/blog/category/{{_id}}" class="btn btn-xs btn-danger">{{name}}</a>
                    {{/each}}
                </p>
                <p>{{brief}}</p>
                <div class="clearfix">
                    <a class="btn btn-info btn-xs pull-right" href="/blog/{{slug}}" style="margin-left: 10px;">查看更多</a>
                {{#if ../current_user.is_admin}}
                    <a href="javascript:;" class="btn btn-danger btn-xs pull-right btnDeleteBlog">删除此文章</a>
                {{/if}}
                 </div>
            </div>
                {{/each}}
            {{else}}
            <p>还没有文章哦~</p>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" style="text-align: center;">
            {{>pagination}}
        </div>
    </div>
</div>