<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{#if blog}}
            <h3>{{blog.title}}</h3><a href="/blog/edite/{{blog._id}}" class="btn btn-info btn-sm">编辑</a>
            <p>brief {{blog.brief}}</p>
            <p>content {{blog.content}}</p>
            <p>views {{blog.views}}</p>
            <p>state {{blog.state}}</p>
            <p>create_at {{blog.create_at}}</p>
            <p>update_at {{blog.update_at}}</p>
            <p>id {{blog._id}}</p>
            {{else}}
            <p>还没有文章哦~</p>
            {{/if}}
        </div>
    </div>
</div>