{{css '/lib/highlight/solarized-light.css'}}
{{css '/lib/katex/katex.min.css'}}
{{css '/css/blog.css'}}
{{js '/lib/katex/katex.min.js'}}
{{js '/lib/highlight/highlight.pack.js'}}
{{js '/js/blog.js'}}

<div class="container">
    <p><a href="/blog">&larr; 全部博文</a></p>
    <div class="row">
        <div class="col-sm-9">
            {{#if blog}}
            <article>
                <header>
                    <h1>{{blog.title}}</h1>
                    <p style="font-size: 12px;" class="clearfix">
                        <strong>admin</strong>&nbsp;&nbsp;·&nbsp;&nbsp;发布于&nbsp;<strong>{{blog.create_at_ago}}</strong>&nbsp;&nbsp;·&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;<strong>{{blog.views}}</strong>&nbsp;&nbsp;·&nbsp;&nbsp;
                        {{#each blog.categories}}
                        <a href="/blog/category/{{_id}}" class="btn btn-xs btn-danger">{{name}}</a>
                        {{/each}}
                    </p>
                    <p>
                </p>
                </header>
                <hr>
                <div class="b-detail">
                    {{{blog.content_html}}}
                </div>
            </article>
            {{else}}
            <p>还没有文章哦~</p>
            {{/if}}
        </div>
        <div class="col-sm-3" id="myScrollspy">
            <ul id="sidernav" class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                <li class="title"><a href="">文章目录</a></li>
            </ul>
        </div>
    </div>
</div>