{{js '/js/category.js'}}
<div class="container">
    <a href="/blog/category/add" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> 新建分类</a>
    <div class="row">
        <div class="col-sm-12">
            {{#if categorys}}
                {{#each categorys}}
                <div class="well cateArea" data-id="{{_id}}">
                    <p>名字： {{name}}</p>
                    <p>slug： {{slug}}</p>
                    <a href="" class="btn btn-info btn-sm">查看文章</a>
                    {{#if ../current_user.is_admin}}
                    <a href="javascript:;" class="btn btn-danger btn-sm btnDeleteCategory">删除此分类</a>
                    {{/if}}
                </div>
              {{/each}}
            {{else}}
            <p>还没有分类哦~</p>
            {{/if}}
        </div>
    </div>
</div>