{{js '/dashboard/js/transtrans.js'}}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success pull-right" href="/dashboard/trans/trans/add"><i class="glyphicon glyphicon-plus"></i> 新增trans</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="">
            <table class="table table-striped table-bordered" id="">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>翻译</th>
                        <th>原文</th>
                        <th>创建日期</th>
                        <th>支持数</th>
                        <th>是否被选中</th>
                        <th>所属的article</th>
                        <th>译者</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transes}}
                    <tr>
                        <td title="{{id}}">{{id}}</td>
                        <td title="{{content}}">{{content}}</td>
                        <td title="{{part.id}}">{{part.id}}</td>
                        <td>{{create_at_format}}</td>
                        <td>{{votes}}</td>
                        <td>{{#if is_selected}}<i class="glyphicon glyphicon-ok"></i>{{else}}<i class="glyphicon glyphicon-remove"></i>{{/if}}</td>
                        <td>{{article.title}}</td>
                        <td>{{user.name}}</td>
                        <td>
                            <a href="/dashboard/trans/trans/{{id}}">
                                <button class="btn btn-xs btn-primary">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    编辑
                                </button>
                            </a>
                            <a href="javascript:;" data-id="{{id}}" class="trArea">
                                <button class="btn btn-xs btn-danger btnDeleteTranstrans">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    删除
                                </button>
                            </a>
                            <a href="/dashboard/category/{{id}}/blogs" target="_blank">
                                <button class="btn btn-xs btn-success">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    包含的文章
                                </button>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>